@font-face {
  font-family: Rubik;
  font-weight: 400;
  src: url(../assets/fonts/Rubik-Regular.woff2) format('woff2');
}

@font-face {
  font-family: Rubik;
  font-weight: 500;
  src: url(../assets/fonts/Rubik-Medium.woff2) format('woff2');
}

@font-face {
  font-family: Rubik;
  font-weight: 600;
  src: url(../assets/fonts/Rubik-Bold.woff2) format('woff2');
}


html {
  font-family: 'Rubik', system-ui, sans-serif;
}

body {
  color: var(--primary);
  font-size: var(--fz-13);
}

a {
  text-decoration: none;
  color: var(--primary);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ff4500;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
}