:root {
  /* Colors */
  --primary: #2D3B87;
  --secondary: #69C57F;
  --back: #F4F5F9;
  --platinum: #E0E3EE;
  --manatee: #969DC3;
  --light-blue: #616CA5;

  /* Font sizes */
  --fz-13: 13px;
  --fz-14: 14px;
  --fz-15: 15px;
  --fz-20: 20px;
}